@{
    ViewData["Title"] = "Home";
}

<div class="">
    <h1 class="display-4 text-center">About Project</h1>

    <p class="text-center">
        This project is a simple CV generator that allows users to input their personal information, work experience, education background, skills, and languages. 
        The user can then preview the CV before downloading it as a PDF. 
        To use the CV generator, follow these steps given in the <a href="Home/Readme">readme page</a>
    </p>
    
    <hr/>
    
    <p class="text-center text-warning">
        Note: This project requires an internet connection to apply the bootstrap styling.
    </p>
</div>
