@{
    ViewData["Title"] = "Instructions";
}

<div style="margin-bottom: 80px;">
    <h1 class="display-4 text-center">Instructions</h1>
    <h4 class="mt-2">
        To use the CV generator and so that your CV can be generated, follow these steps:
    </h4>

    <ol class="list-group">
        <li class="list-group list-group-item">Fill in your personal information in the form provided.</li>
            <ul>
                <li class="list-group list-group-item">For the Address field, you should enter your full address, i.e. street, city, and postal code.</li>
            </ul>
        <li class="list-group list-group-item">Fill in your professional summary in the form provided. Each point should be separated by a new line and the details should be in the following format: <b>description of your skills, expertise, and career objectives</b>.</li>
        <li class="list-group list-group-item">Fill in your work experience in the form provided. Each job should be separated by a new line and the details should be separated by commas. The details should be in the following format: <b>title, company, date of employment, expertise</b>.</li>
        <li class="list-group list-group-item">Fill in your education background in the form provided. Each school should be separated by a new line and the details should be separated by commas. The details should be in the following format: <b>institution, certification, graduation date</b>.</li>
        <li class="list-group list-group-item">Fill in your skills in the form provided. Each skill should be separated by a new line and the details should be in the following format: <b>skill, level of proficiency</b>.</li>
        <li class="list-group list-group-item">Fill in your languages in the form provided. Each language should be separated by a new line and the details should be in the following format: <b>language, level of proficiency</b>.</li>
        <li class="list-group list-group-item">Click the <b>Preview</b> button to see your CV.</li>
        <li class="list-group list-group-item">Click the <b>Download</b> button to download your CV as a PDF.</li>
    </ol>

    <p class="mt-4">
        If you have any questions or need help, please contact us at <a href="mailto:customercare@ourcv.com"></a>
    </p>

    <p class="">
        Thank you for using our CV generator.
    </p>
</div>
