@* @page *@
@model CVGenerator.Models.CVModel
@{
    ViewData["Title"] = "Create CV";
}

<div style="margin-bottom: 80px;">
    <h1 class="text-center display-4">Prepare CV</h1>

    <form action="@Url.Action("Index", "CV")" method="post" class="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group md-4">
            <label asp-for="Name" class="col-form-label"></label>
            <div class="col-md-12">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group md-4">
            <label asp-for="Phone" class="col-form-label"></label>
            <div class="col-md-12">
                <input asp-for="Phone" class="form-control" placeholder="Phone Number" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group md-4">
            <label asp-for="Email" class="col-form-label"></label>
            <div class="col-md-12">
                <input asp-for="Email" class="form-control" placeholder="Email Address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group md-4">
            <label asp-for="Address" class="col-form-label"></label>
            <div class="col-md-12">
                <input asp-for="Address" class="form-control" placeholder="Town,City,County" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group md-4">
            <label asp-for="ProfessionalSummary" class="col-form-label"></label>
            <div class="col-md-12">
                <textarea asp-for="ProfessionalSummary" class="form-control" placeholder="A brief description of the user's skills, expertise, and career objectives..." rows="10"></textarea>
                <span asp-validation-for="ProfessionalSummary" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group md-4">
            <label asp-for="WorkExperience" class="col-form-label"></label>
            <div class="col-md-12">
                <textarea asp-for="WorkExperience" class="form-control" placeholder="List of jobs with details including job title, company name, dates of employment, A brief description of the user's skills, expertise, and career objectives and job description..." rows="10"></textarea>
                <span asp-validation-for="WorkExperience" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group md-4">
            <label asp-for="EducationBackground" class="col-form-label"></label>
            <div class="col-md-12">
                <textarea asp-for="EducationBackground" class="form-control" placeholder="List of schools with details including degree, institution name, and graduation date..." rows="10"></textarea>
                <span asp-validation-for="EducationBackground" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group md-4">
            <label asp-for="Skills" class="col-form-label"></label>
            <div class="col-md-12">
                <textarea asp-for="Skills" class="form-control" placeholder="List of professional skills..." rows="10"></textarea>
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group md-4">
            <label asp-for="Languages" class="col-form-label"></label>
            <div class="col-md-12">
                <textarea asp-for="Languages" class="form-control" placeholder="List of languages spoken with proficiency level..." rows="10"></textarea>
                <span asp-validation-for="Languages" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group md-4">
            <button type="submit" class="btn btn-primary">Preview CV</button>
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
